<p id="notice"><%= notice %></p>
<%= image_tag @restaurant.image.url(:medium) %>
<p>
  <strong>Restaurant name:</strong>
  <h3><%= @restaurant.name %></h3>
</p>

<p>
  <strong>Description restaurant:</strong>
  <h3><%= @restaurant.description %></h3> 
</p>

<%= link_to 'Back', restaurants_path %>
<table class="table">
  <thead>
    <tr>
      <th>Dish name</th>
      <th>Description dish</th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
